<section class="section_user">
	<div class="container">
		<div class="col-md-4 sidebar user_sidebar sidebar_left box">
			<h4 class="sidebar_title">User details</h4>
			<table>
				<tbody>
					<tr>
						<td>Name:</td>
						<td>{{user.first_name}} {{user.last_name}}</td>
					</tr>
					<tr>
						<td>Age:</td>
						<td>{{user.age}}</td>
					</tr>
					<tr>
						<td>Location:</td>
						<td>{{user.location}}</td>
					</tr>
					
					<tr>
						<td>Email:</td>
						<td>{{user.email}}</td>
					</tr>
					<tr>
						<td>Website</td>
						<td><a href="{{user.website}}">{{user.website}}</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-8 user_body rightside_body">
			<div class="box">
				<h3 class="user_name">{{user.first_name}} {{user.last_name}}</h3>
				<div class="user_title">{{user.title}}</div>

				<a ng-if="!isMine" href="#/messages/{{user.username}}" class="btn btn-primary">Send message</a>
				<a ng-if="isMine" href="#/user/{{current_user.username}}/edit" class="btn btn-primary">Edit profile</a>
				<div class="user_bio">{{user.bio}}</div>
			</div>

		</div>
	</div>
</section>